<h2 mat-dialog-title>{{ data?.dialogTitle }}</h2>

<div [formGroup]="dividaForm">

  <mat-dialog-content class="mat-typography">

    <div class="example-container">

      <mat-form-field appearance="fill" class="row">
        <mat-label>Selecione um cliente</mat-label>
        <mat-select formControlName="clienteId">
          <mat-option value="option1">Joâo</mat-option>
          <mat-option value="option2">Maria</mat-option>
          <mat-option value="option3">José</mat-option>
        </mat-select>
        <mat-error
          *ngIf="dividaForm.get('clienteId').errors?.required">
          Cliente é obrigatório
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field hintLabel="Max 50 characters" appearance="fill" class="row">
        <mat-label>Motivo</mat-label>
        <input matInput #input maxlength="50" formControlName="motivo">
        <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
        <mat-error
          *ngIf="dividaForm.get('motivo').errors?.required">
          Motivo é obrigatório
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill" class="row-50">
        <mat-label>Valor</mat-label>
        <input matInput type="number" formControlName="valor">
        <mat-error
          *ngIf="dividaForm.get('valor').errors?.required">
          Valor é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="row-50">
        <mat-label>Data</mat-label>
        <input matInput type="date" formControlName="data">
        <mat-error
          *ngIf="dividaForm.get('data').errors?.required">
          Data é obrigatório
        </mat-error>
      </mat-form-field>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button
      cdkFocusInitial color="primary" [disabled]="dividaForm.invalid"
      (click)="salvarDivida()" mat-dialog-close>Salvar</button>

  </mat-dialog-actions>

</div>
